.container{
    width: 100%;
}

.login .login-wrap {
    height: 800px;
}

.login .login-wrap .login-box {
    margin-top: 100px;
}

.login .login-wrap .login-box .email-box {
    width: 94%;
    max-width: 550px;
    height: 44px;
    display: flex;
    margin: 0 auto;
    padding-left: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.login .login-wrap .login-box .password-box {
    width: 94%;
    max-width: 550px;
    height: 44px;
    display: flex;
    margin: 0 auto;
    padding-left: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.login .login-wrap .login-box input {
    width: 100%;
}

.login .login-wrap .login-box .enter-box {
    width: 94%;
    max-width: 550px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin: 10px auto;
}

.login .login-wrap .login-box .enter-box .login-button{
    width: 100%;
    height: 100%;
    color: #fff;
}

.login .login-wrap .login-box .join-box{
    width: 94%;
    max-width: 550px;
    height: 44px;
    background-color: #c9c9c9;
    margin: 10px auto;
}

.login .login-wrap .login-box .join-box a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}