@import "reset.css";



/* =============================================== main =============================================== */
.container{
    width: 100%;
}

/* ---------- nav ---------- */
.nav{
    position: sticky;
    top: 73px;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background: #fff;

}
.nav-wrap .nav-left{
    width: 75%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 11px 0;
    margin-left: 24px;
    background: #fff;
}
.nav-wrap .nav-left a{

}
.nav-wrap .nav-right{
    width: 10%;
    padding: 10px 0;
    background: #000;
    border: 1px solid #000;
}
.nav-wrap .nav-right a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    color: #fff;
}
.nav-wrap .nav-right a img{
    width: 18px;
    margin-right: 11px;
}

/* ---------- product ---------- */
.product ul{
    display: flex;
    flex-wrap: wrap;
}
.product .list-wrap{
    width: 25%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.product .list-top{
    width: 100%;
    border-bottom: 1px solid #000;
}
.product .list-top a{
    text-align:  center;
}
.product .list-top a img{
    width: 100%;
    /* object-fit: cover; */
}
.product .list-bottom{
    min-height: 150px;
    padding: 24px;
}
.product .list-bottom .list-brand{
    margin-bottom: 7px;
}
.product .list-bottom .list-title{
    font-size: 12px;
    margin-bottom: 12px;
}
.product .list-bottom .list-pay{
    margin-bottom: 8px;
}
.product .list-bottom .list-status{
    width: 66px;
}
.product .list-bottom .list-status img{
    width: 100%;}
.product-more{
    margin: 48px auto 88px;
    text-align: center;
}
.product-more button{
    padding: 10px 25px;
    border: 1px solid #000;
}
