<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품관리</title>
    <link rel="stylesheet" href="../../css/admin.css" />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header-wrap">
          <h1>
            <a href="index.html">
              <img src="/img/logo.png" alt="로고" />
            </a>
          </h1>
          <div class="h-right">
            <a href="#">LOGIN</a>
            <a href="#">MY PAGE</a>
            <a href="#" class="nav-cart">CART<span class="cart-num">1</span></a>
          </div>
        </div>
      </header>
      <nav class="nav">
        <div class="nav-wrap">
          <div class="nav-left">
            <a href="/admin/orders">주문관리</a>
            <a href="/admin/products" class="active">상품관리</a>
            <a href="/admin/users">회원관리</a>
            <a href="/admin/categories">카테고리관리</a>
          </div>
        </div>
      </nav>
      <main class="admin-container">
        <div class="admin-product-category">
          <p>카테고리</p>
          <p>이름</p>
          <p>가격</p>
          <p>이미지</p>
          <p>생성날짜</p>
          <p>누적판매량</p>
          <p>판매상태</p>
          <p>상세내용</p>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-accumulated_sales">15</p>
          <p class="product-status">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-count">15</p>
          <p class="product-isSale">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-count">15</p>
          <p class="product-isSale">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-count">15</p>
          <p class="product-isSale">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-count">15</p>
          <p class="product-isSale">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-count">15</p>
          <p class="product-isSale">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>

        <div class="admin-product-data">
          <p class="product-category">CUSTOM</p>
          <p class="product-name">JAS-12RA-Z01</p>
          <p class="product-price">2300000</p>
          <img src="/" class="product-img"></img>
          <p>2022-05-22</p>
          <p class="product-count">15</p>
          <p class="product-isSale">판매중</p>
          <p class="product-description">
            행운의 상징으로 알려진 이 꽃은 빨강 꽃잎..
          </p>
          <div>
            <button class="btn product-update">상품수정</button>
            <button class="btn product-delete">상품삭제</button>
          </div>
        </div>
        <p class="product-add">+ 상품 추가</p>
        <div class="page">
          <span class="active">1</span>
          <span class="">2</span>
          <span class="">3</span>
          <span class="">4</span>
        </div>
      </main>
      <footer class="site-footer">
        <div class="footer-content">
          <p>© 2023. Flora & Dér All rights reserved.</p>
          <p>
            주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891
            [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길
            48, 성수낙낙 2층
          </p>
          <p>
            <a href="tel:+82-123-1234">02-123-1234</a> ㅣ
            contact@floraandder.krㅣ <a href="#">카카오톡 채널</a>ㅣ<a href="#"
              >인스타그램</a
            >
            | MON-FRI 10:00-17:00 | <a href="#">이용약관</a> ㅣ
            <a href="#">개인정보처리방침</a>
          </p>
        </div>
        <div class="footer-right"></div>
      </footer>
    </div>
  </body>
  <script src="./js/admin.js"></script>
</html>
