<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문하기</title>
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/guest_orderlist.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <h1>
          <a href="/">
            <img src="/public/img/logo.png" alt="로고" />
          </a>
        </h1>
        <div class="h-right">
          <a href="#">LOGIN</a>
          <a href="orderlist.html">MY PAGE</a>
          <a href="#" class="nav-cart">CART<span class="cart-num">1</span></a>
        </div>
      </div>
    </header>
    <div class="inside">
      <div class="gol-wrap">
        <form>
          <div class="input-block">
            <input type="text" placeholder="주문번호" />
            <input class="input-border" type="text" placeholder="이름" />
            <input type="email" placeholder="이메일" />
          </div>
          <button class="gol-btn button-black-big">조회하기</button>
        </form>
      </div>
    </div>
    <footer class="site-footer">
      <div class="footer-content">
        <p>© 2023. Flora & Dér All rights reserved.</p>
        <p>
          주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891
          [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길 48,
          성수낙낙 2층
        </p>
        <p>
          <a href="tel:+82-123-1234">02-123-1234</a> ㅣ contact@floraandder.krㅣ
          <a href="#">카카오톡 채널</a>ㅣ<a href="#">인스타그램</a> | MON-FRI
          10:00-17:00 | <a href="#">이용약관</a> ㅣ
          <a href="#">개인정보처리방침</a>
        </p>
      </div>
      <div class="footer-right"></div>
    </footer>
  </body>
</html>
