<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문하기</title>
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/order.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <h1>
          <a href="/index.html">
            <img src="/public/img/logo.png" alt="로고" />
          </a>
        </h1>
        <div class="h-right">
          <a href="/user/login.html">LOGIN</a>
          <a href="/orders/orderlist.html">MY PAGE</a>
          <a href="/main/cart.html" class="nav-cart"
            >CART<span class="cart-num">1</span></a
          >
        </div>
      </div>
    </header>
    <div class="inside">
      <div class="order-wrap">
        <div class="product-block order-block">
          <h6>주문 상품 정보</h6>
          <div class="order-list-info">
            <div class="order-item-conatiner">
              <!-- <div class="order-item">
                <a href="#">
                  <div class="img-wrap">
                    <img src="/public/img/p1.jpeg" alt="주문 상품 이미지" />
                  </div>
                  <div class="info-wrap">
                    <span class="item-title large-font"> 상품명 </span>
                    <span class="item-quantity">수량</span>
                    <span class="item-amount">4,200,000원</span>
                  </div>
                </a>
              </div> -->
              <div class="order-item">
                <a href="#">
                  <div class="img-wrap">
                    <img
                      src="../../../public/img/p1.jpeg"
                      alt="주문 상품 이미지"
                    />
                  </div>
                  <div class="info-wrap">
                    <span class="item-title large-font"> 상품명 </span>
                    <span class="item-quantity">수량</span>
                    <span class="item-amount">4,200,000원</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="delivery-fee button-black-big">배송비 착불</div>
          </div>
        </div>
        <div class="orderer-block order-block">
          <h6>주문자 정보</h6>
          <div class="orderer-info">
            <div>
              <input class="orderer-name" type="text" placeholder="이름" />
            </div>
            <div>
              <input class="orderer-phone" type="tel" placeholder="전화번호" />
            </div>
            <div>
              <input class="orderer-email" type="email" placeholder="이메일" />
            </div>
          </div>
        </div>
        <!-- 배송 정보 -->
        <div class="shipping-block order-block">
          <h6>배송 정보</h6>
          <div class="recipient-wrap">
            <label for="checkbox" class="checkbox-recipient">
              <input class="checkbox" type="checkbox" />
              <p>주문자 정보와 동일</p>
            </label>
            <div class="input-wrap">
              <input
                class="recipient-name-input"
                type="text"
                name="recipient-name"
                placeholder="수령인"
              />
              <input
                class="recipient-phone-input"
                type="tel"
                name="recipient-phone"
                placeholder="연락처"
              />
            </div>
          </div>
          <div class="shipping-wrap">
            <div>
              <input
                type="tel"
                class="postcode-input"
                value=""
                placeholder="우편번호"
              />
              <!-- <button class="button-black">주소찾기</button> -->
            </div>

            <div>
              <input
                type="text"
                class="address-input"
                placeholder="주소"
                value=""
              />
            </div>
            <div>
              <input
                type="text"
                class="address-detail-input"
                placeholder="상세주소"
                value=""
              />
            </div>
          </div>
          <!-- 배송 메모 -->
          <div class="delivery-msg-wrap">
            <p>배송메모</p>
            <div>
              <select class="delivery-msg">
                <option value>배송메모를 선택해주세요.</option>
                <option value="배송 전에 미리 연락 바랍니다.">
                  배송 전에 미리 연락 바랍니다.
                </option>
                <option value="부재 시 경비실에 맡겨주세요.">
                  부재 시 경비실에 맡겨주세요.
                </option>
                <option value="직접 입력">직접 입력</option>
              </select>
              <input
                type="text"
                class="direct-input"
                style="display: none"
                placeholder="배송 메모를 입력해주세요."
              />
            </div>
          </div>
        </div>
      </div>
      <div class="order-summary-wrap">
        <div class="summary-block order-block">
          <h6>주문 요약</h6>
          <div class="pay-wrap">
            <div class="pay-text pay-col">
              <p>상품 가격</p>
              <p>배송비</p>
            </div>
            <div class="pay-number pay-col">
              <p class="order-amount-p">8,400,000원</p>
              <p class="delivery-fee-p">착불</p>
            </div>
          </div>
          <div class="total-payment-wrap">
            <p>총 주문금액</p>
            <p class="pay-amount-p">8,400,000원</p>
          </div>
        </div>
        <div class="payment-block order-block">
          <h6>결제수단</h6>
          <div>
            <label for="non-bankbook-deposit" class="payment-select">
              <input type="radio" id="non-bankbook-deposit" checked />
              <p>무통장입금</p>
            </label>
          </div>
        </div>
        <div>
          <button class="payment-button button-black-big">결제하기</button>
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="footer-content">
        <p>© 2023. Flora & Dér All rights reserved.</p>
        <p>
          주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891
          [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길 48,
          성수낙낙 2층
        </p>
        <p>
          <a href="tel:+82-123-1234">02-123-1234</a> ㅣ contact@floraandder.krㅣ
          <a href="#">카카오톡 채널</a>ㅣ<a href="#">인스타그램</a> | MON-FRI
          10:00-17:00 | <a href="#">이용약관</a> ㅣ
          <a href="#">개인정보처리방침</a>
        </p>
      </div>
      <div class="footer-right"></div>
    </footer>
    <script type="module" src="/public/js/common.js"></script>
    <script type="module" src="/public/js/order.js"></script>
  </body>
</html>
