/* Global*/
.active {
  font-weight: 700;
}

/* Admin Page Main Style */
.admin-main {
  width: 100%;
  min-height: calc(100vh - 111px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/* =============================================== Admin Page Sections =============================================== */
/* Admin Container - Base Layout */
.admin-container {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

/* ---------- Orders Section ---------- */
/* Order Category Header */
.admin-container > .admin-content-category {
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 40px;
  align-items: center;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  justify-items: center;
}

/* Order Data Rows */
.admin-container > .admin-content-data {
  display: grid;
  border-bottom: 1px solid #000;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px;
  align-items: center;
  padding: 20px 40px;
  justify-items: center;
}
.admin-container > .admin-content-data #order_value {
  border: 1px solid black;
}
.admin-container > .admin-content-data > .user-data > p {
  margin: 8px 0;
}
.admin-container > .admin-content-data .btn {
  background-color: #000;
  color: white;
  padding: 10px;
}
.user-data {
  font-size: 13px;
}

/* ---------- Product Section ---------- */
/* Product Category Header */
.admin-container > .admin-product-category {
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: 230px repeat(9, 1fr) 170px;
  grid-template-rows: 40px;
  align-items: center;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  justify-items: center;
}
/* Product Data Rows */
.admin-container > .admin-product-data {
  display: grid;
  border-bottom: 1px solid #000;
  grid-template-columns: 230px repeat(9, 1fr) 170px;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  justify-items: center;
}
.admin-container > .admin-product-data .btn {
  background-color: #000;
  color: white;
  padding: 10px;
}
.admin-container > .admin-product-data > .product-img {
  width: 50px;
  height: 50px;
  background-color: rgb(219, 219, 219);
}
.product-add {
  width: 100%;
  margin-bottom: 80px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}
.product-input {
  border: 1px solid black;
  padding: 4px;
  width: 90%;
}
/* 이미지 파일 받는 input인데 class로 선택하면 스타일 적용이 안됩니다..*/
#input-img {
  display: none;
}
.img-label {
  cursor: pointer;
}

.product-attribute,
.product-description {
  padding: 10px;
}

.img-label {
  font-size: 14px;
  letter-spacing: 2px;
}

/* ---------- Category Section ---------- */
/* Product Category Header */
.admin-container > .admin-category-header {
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30px;
  align-items: center;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  justify-items: center;
}
/* Product Data Rows */
.admin-container > .admin-category-data {
  display: grid;
  border-bottom: 1px solid #000;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20px;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  justify-items: center;
}
.admin-container > .admin-category-data .btn {
  background-color: #000;
  color: white;
  padding: 10px;
}

.admin-container > p {
  margin-top: 30px;
  cursor: pointer;
}

.category-isActive {
  border: 1px solid black;
}

.category-add {
  width: 100%;
  height: 100px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

/* ---------- User Section ---------- */
/* Product Category Header */
.admin-container > .admin-user-category {
  border-bottom: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30px;
  align-items: center;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  justify-items: center;
}
/* Product Data Rows */
.admin-container > .admin-user-data {
  display: grid;
  border-bottom: 1px solid #000;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 20px;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  justify-items: center;
}
