/* =============================================== cart =============================================== */
.cart {
    width: 100%;
  }
  .cart .cart-content {
    width: 90%;
    margin: 80px auto 300px auto;
  }
  .cart .cart-head {
    display: flex;
    align-items: normal;
    justify-content: normal;
    width: 100%;
  }
  .cart .cart-head .cart-head-left {
    width: 88%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: normal;
    justify-content: normal;
  }
  .cart .cart-head .cart-head-left span {
    padding: 12px 0;
  }
  .cart .cart-head .cart-head-left span.chl1 {
    width: 6%;
  }
  .cart .cart-head .cart-head-left span.chl2 {
    width: 62%;
  }
  .cart .cart-head .cart-head-left span.chl3 {
    width: 16%;
    text-align: center;
  }
  .cart .cart-head .cart-head-left span.chl4 {
    width: 16%;
    text-align: center;
  }
  .cart .cart-head .cart-head-right {
    width: 12%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart .cart-body {
    display: flex;
    align-items: normal;
    justify-content: normal;
  }
  .cart .cart-body .cart-body-left {
    width: 88%;
  }
  .cart .cart-body .cart-body-left .cart-list {
    display: flex;
    align-items: center;
    justify-content: normal;
    border-bottom: 1px solid #333;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-1 {
    width: 6%;
    padding: 20px 0;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 {
    position: relative;
    width: 62%;
    display: flex;
    align-items: normal;
    justify-content: normal;
    padding: 20px 0;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cart-del-btn {
    position: absolute;
    display: block;
    top: 10%;
    right: 10%;
    color: #999;
    font-size: 18px;
    width: 15px;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cart-del-btn img {
    width: 100%;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cl-img {
    width: 35%;
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 5%;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cl-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
    display: block;
    object-fit: cover;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cl-info {
    width: 60%;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cl-info .cl-title {
    display: block;
    font-size: 18px;
    margin-bottom: 1%;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-2 .cl-info .cl-dep {
    display: block;
    padding: 13px;
    box-sizing: border-box;
    background: #eee;
    font-size: 12px;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-3 {
    width: 16%;
    text-align: center;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-3 .cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-3 .cart-count button {
    font-size: 20px;
    line-height: 1px;
    padding: 0 10px;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-3 .cart-count-submit {
    display: block;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-4 {
    width: 16%;
    text-align: center;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-4 .cart-price {
    padding-bottom: 1px;
  }
  .cart .cart-body .cart-body-left .cart-list .cl-list-4 .cart-baro {
    display: block;
    text-align: center;
  }
  .cart .cart-body .cart-body-right {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #333;
  }
  .cart .cart-body .cart-body-right span {
    padding: 20px 0;
  }
  .cart .cart-common-btn {
    width: 100px;
    display: block;
    background: #333;
    color: #fff;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .cart input {
    display: none;
  }
  .cart input + label em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox_off.png") center center/100% no-repeat;
    vertical-align: middle;
  }
  .cart input:checked + label em {
    background: url("../img/checkbox_on.png") center center/100% no-repeat;
  }
  
  .cart .cart-ck-delete{
    margin-top: 20px;
  }
  .cart .cart-ck-delete button{
    width: 100px;
    display: block;
    background: #333;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin:10px 0 50px;
  }
  .cart .cart-total{
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
  }
  .cart .cart-total .ct-title{
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
  .cart .cart-total .ct-wrap{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .cart .cart-total .ct-common h4{
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 8px;
  }
  .cart .cart-total .ct-common p{
    font-size: 16px;
  }
  .cart .cart-total .ct-add{
    width: 50px;
  }
  .cart-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cart-last .cl-baro1{
    width: 280px;
    display: block;
    background: #333;
    color: #fff;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
     margin-bottom: 20px;
  }
  .cart-last .cl-baro2{
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
  }