/* =============================================== header & footer =============================================== */
/* ---------- header ---------- */
.header{
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header .header-wrap{
    width: 100%;
    height: 72px;
    background: #fff;

}
.header h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header h1 a{
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.header h1 img{
    width: 100%;
}
.header .h-right{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 25px;
}

/* ---------- footer ---------- */
.site-footer{
    margin: 0 0 80px 24px;
}
.site-footer .footer-content p{
    display: inline-block;
    margin-bottom: 8px;
    width: 100%;
}
.site-footer .footer-content a{
    display: inline-block;
}
.site-footer .footer-right{
    width: 20%;
    text-align: right;
}

/* ---------- cart number ---------- */
.nav-cart{
    display: flex;
    align-items: center;
}
.cart-num{
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-left: 2px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background: #000;
    border-radius: 50%;
    
}


/* ---------- nav ---------- */
.nav{
    position: sticky;
    top: 73px;
    z-index: 999;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background: #fff;

}
.nav-wrap .nav-left{
    width: 75%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 11px 0;
    margin-left: 24px;
    background: #fff;
}
/* 선택시 bold 추가함 */
/* .nav-wrap .nav-left .nav-bold{
    font-weight: 600;
} */
.nav-wrap .nav-right{
    width: 10%;
    padding: 10px 0;
    background: #000;
    border: 1px solid #000;
}
.nav-wrap .nav-right a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    color: #fff;
}
.nav-wrap .nav-right a img{
    width: 18px;
    margin-right: 11px;
}

