.container{
    width: 100%;
}

.login .login-wrap {
    height: 800px;
}

.login .login-wrap .login-box {
    margin-top: 100px;
}

.login .login-wrap .login-box .border-box {
    width: 94%;
    max-width: 550px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: -1px auto;
    border: 1px solid;
}

.login .login-wrap .border-box.on {
    height: 56px;
    border: 1px solid red;
}

.login .login-wrap .border-box.on + .border-box {
    border-top: 1px solid red;
}

.login .login-wrap .check-font p {
    font-size: 10px;
    color: red;
    margin: 2px 10px;
}

.login .login-wrap .login-box input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.login .login-wrap .login-box .enter-box {
    width: 94%;
    max-width: 550px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin: 10px auto;
}

.login .login-wrap .login-box .enter-box .login-button{
    width: 100%;
    height: 100%;
    color: #fff;
}

.login .login-wrap .login-box .join-box{
    width: 94%;
    max-width: 550px;
    height: 44px;
    background-color: #c9c9c9;
    margin: 10px auto;
}

.login .login-wrap .login-box .join-box a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}