/* =============================================== main =============================================== */
.container{
    width: 100%;
}

/* ---------- product ---------- */
.product ul{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.product .list-wrap{
    width: 25%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.product .list-top{
    width: 100%;
    border-bottom: 1px solid #000;
}
.product .list-top a{
    text-align:  center;
    overflow: hidden;
}
.product .list-top a:hover img{
    transform: scale(1.13);
}
.product .list-top a img{
    width: 100%;
    transition: all 0.2s linear;
}
.product .list-bottom{
    min-height: 150px;
    padding: 24px;
}
.product .list-bottom .list-title{
    margin-bottom: 5px;
}
.product .list-bottom .list-cg{
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 12px;
}
.product .list-bottom .list-pay{
    margin-bottom: 5px;
}
.product .list-bottom .list-status{
    width: 66px;
}
.product .list-bottom .list-status img{
    width: 100%;}
.product-more{
    margin: 0 auto;
    text-align: center;
}
.product-more button{
    padding: 10px 25px;
    border: 1px solid #000;
}

#productList li:nth-child(n+13) {
    display: none;
}

.product-more {
    display: none;
}

.site-footer{
    margin-top: 88px;
}