.nav-wrap {
  border-right: none;
}

.button-black {
  background-color: black;
  color: white;
  width: 100px;
  padding: 6px 0;
}

.orderlist {
  display: none;
  padding: 24px;
  margin: 122px 128px 200px 128px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.order-table td {
  text-align: center;
  vertical-align: middle;
}

tbody {
  border-bottom: 1px solid black;
}

th {
  padding: 12px 8px;
}

td {
  padding: 20px;
  line-height: 1.5;
}

.no-order > td {
  padding: 80px;
}

.product-row {
  margin: 10px;
  display: table;
  min-width: 160px;
}

.img-block {
  width: 80px;
  display: table-cell;
}

.img-block img {
  width: 100%;
  min-width: 80px;
}

.product-info {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 16px;
  font-weight: bold;
}

.delivery-status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delivery-step,
.delivery-cancel,
.change-address {
  display: block;
  margin-bottom: 5px;
}

.quantity-span {
  color: #555 !important;
}

/* change-address modal */

.overlay-modal {
  display: none;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.change-address-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: white;
  padding: 32px 24px 24px;
  border: 1px solid #888;
  border-radius: 4px;
}
.modal-content h2 {
  font-size: 18px;
  margin: -10px 0 30px;
  text-align: center;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content input {
  border: 1px solid black;
  padding: 12px 14px;
  width: 100%;
}

.input-border {
  margin: -1px 0;
}

.input-postcode > input {
  border-bottom: none;
}

.input-block {
  margin-bottom: 25px;
}

.input-postcode {
  width: 30%;
}

.input-address {
  display: flex;
}

.input-address-detail > input {
  border-top: none;
}

.confirm-button {
  margin-right: 15px;
}

.button-div {
  display: flex;
  width: 100%;
}

.button-div > button {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

/* guest_orderlist.css 이사 */
input {
  border: 1px solid black;
  padding: 12px 14px;
}

.button-black-big {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 14px;
  text-align: center;
}

.inside {
  padding: 24px;
  margin: 84px auto;
  width: 600px;
}

.gol-wrap {
  padding: 0 24px;
  width: 100%;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-border {
  border-top: none;
  border-bottom: none;
}

/* 주문 취소시 버튼 비활성화 할거면 사용 */
.disabled-btn {
  pointer-events: none;
  opacity: 0.1;
}

.span-td {
  /* border-left: 1px solid #999; */
}

.row-border {
  border-top: 1px solid black;
}
