.container{
    width: 100%;
}

.signup .signup-wrap .info-box {
    margin: 30px auto;
}

.signup .signup-wrap .info-box.account-box {
    margin-top: 100px;
}

.signup .signup-wrap .label-box {
    width: 94%;
    max-width: 600px;
    margin: 6px auto;
}

.signup .signup-wrap .label-box span {
    color: red;
    font-weight: bold;
}

.signup .signup-wrap .border-box {
    width: 94%;
    max-width: 600px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: -1px auto;
    border: 1px solid;
}

.signup .signup-wrap .border-box.on {
    height: 56px;
    border: 1px solid red;
}

.signup .signup-wrap .border-box.on + .border-box {
    border-top: 1px solid red;
}

.signup .signup-wrap .address-box.on ~ .detail-box {
    border-top: 1px solid red;
}

.signup .signup-wrap .address-box.on + .wrap {
    border-top: 1px solid red;
}

.signup .signup-wrap .check-font p {
    font-size: 10px;
    color: red;
    margin: 2px 10px;
}

.signup .signup-wrap .wrap {
    display: none;
    border: 1px solid;
    width: 94%;
    max-width: 600px;
    margin: 0 auto; 
    position: relative;
}

.signup .signup-wrap input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.signup .signup-wrap .signup-box {
    width: 94%;
    max-width: 600px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.signup .signup-wrap .signup-box .signup-button{
    width: 100%;
    height: 100%;
    color: #fff;
}