<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flora & Dér</title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/cart.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <h1>
          <a href="/index.html">
            <img src="/public/img/logo.png" alt="로고" />
          </a>
        </h1>
        <div class="h-right">
          <a href="/user/login.html">LOGIN</a>
          <a href="/oder/orderlist.html">MY PAGE</a>
          <a href="/main/cart.html" class="nav-cart"
            >CART<span class="cart-num">1</span></a
          >
        </div>
      </div>
    </header>

    <!-- 장바구니 시작 -->
    <section class="cart">
      
        <!-- *** 상품을 담았을때 ui -->
        <div class="cart-content">

          <!-- 상품정보 리스트 입니다 -->
            <div class="cart-list-box">
                <div class="cart-head">
                    <div class="cart-head-left">
                        <span class="chl1">
                          <input type="checkbox" name="cart-all-ck" id="cart-all-ck">
                          <label for="cart-all-ck"><em></em></label>
                        </span>
                        <span class="chl2">상품정보</span>
                        <span class="chl3">수량</span>
                        <span class="chl4">주문금액</span>
                    </div>
                    <div class="cart-head-right">
                        <span>배송정보</span>
                    </div>
                </div>
                <div class="cart-body">
                    <div class="cart-body-left">
                        <!-- cart-list 가 장바구니 목록임 이거만 늘어나게 하면됨 ! -->
                        <!-- <div class="cart-list"  id="checkboxList">
                            <span class="cl-list-1" name="cart-input">
                                <input type="checkbox" id="cart-ck1">
                                <label for="cart-ck1"><em></em></label>
                            </span>
                            <span class="cl-list-2">
                                <span class="cl-img">
                                    <a href="./detail.html">
                                      <img src="/public/public/img/p1.jpeg" alt="장바구니에 담은 상품 이미지">
                                    </a>
                                </span> 
                                <span class="cl-info">
                                    <span class="cl-title">
                                      <a href="./detail.html">
                                        JAPAN LOUNGE CHAIR
                                      </a>
                                    </span>
                                    <span class="cl-dep">
                                        <span>필수</span> 제품을 개봉하거나 상품가치가 훼손된 경우에는 제품의 교환 및 환불 불가 안내에 동의합니다.
                                    </span>
                                </span> 
                                <button class="cart-del-btn"><img src="/public/public/img/delete.png" alt="삭제버튼"></button>
                            </span>
                            <span class="cl-list-3">
                                <span class="cart-count">
                                    <button class="cc-btn1">-</button>
                                    <span>1</span>
                                    <button class="cc-btn2">+</button>
                                </span>
                                <span class="cart-count-submit">
                                    <button class="cart-common-btn">수량변경</button>
                                </span>
                            </span>
                            <span class="cl-list-4">
                                <span class="cart-price">3,700,000원</span>
                                <span class="cart-baro">
                                    <a href="#" class="cart-common-btn">바로구매</a>
                                </span>
                            </span>
                        </div> -->
                    </div>
                    <div class="cart-body-right ">
                        <p>착불<br>직접배송</p>
                    </div>
                </div>
            </div>
            <div class="cart-ck-delete">
                <button type="button">선택상품 삭제</button>
                <button type="button">전체상품 삭제</button>
            </div>

            <!-- 상품가격의 합계가 들어가는 곳 -->
            <div class="cart-total">
                <div class="ct-title">총 주문 상품 <span class="products-quantity"></span>개</div>
                <div class="ct-wrap">
                    <div class="ct-common ct-left">
                        <h4 class="products-price"></h4>
                        <p>상품금액</p>
                    </div>
                    <div class="ct-common ct-add">
                        <h4>+</h4>
                        <span></span>
                    </div>
                    <div class="ct-common ct-mid">
                        <h4 class="delivery-price">착불</h4>
                        <p>배송비</p>
                    </div>
                    <div class="ct-common ct-add">
                        <h4>=</h4>
                        <span></span>
                    </div>
                    <div class="ct-common ct-right">
                        <h4 class="total-price"></h4>
                        <p>총 주문금액</p>
                    </div>
                </div>
            </div>

            <!-- 주문하기 - 주문하기 페이지로 이동 -->
            <!-- 계속 쇼핑하기 - 홈이 all 상품이니까 all로 이동하면 될듯 -->
            <div class="cart-last">
                <a href="/orders/order.html" class="cl-baro1">주문하기</a>
                <a href="/index.html" class="cl-baro2">계속 쇼핑하기</a>
            </div>
        </div>

        <!-- *** 상품을 아무것도 담지 없을때 ui -->
        <div class="cart-content cart-content-none">

          <!-- 상품정보 리스트 입니다 -->
            <div class="cart-list-box">
                <div class="cart-head">
                    <div class="cart-head-left">
                        <span class="chl1">
                          <input type="checkbox" id="cart-all-ck">
                          <label for="cart-all-ck"><em></em></label>
                        </span>
                        <span class="chl2">상품정보</span>
                        <span class="chl3">수량</span>
                        <span class="chl4">주문금액</span>
                    </div>
                    <div class="cart-head-right">
                        <span>배송정보</span>
                    </div>
                </div>
                <div class="cart-body">
                    <div class="cb-text">
                        장바구니가 비어있습니다.
                    </div>
                </div>

            </div>


            <div class="cart-last">
                <a href="/index.html" class="cl-baro2">계속 쇼핑하기</a>
            </div>
        </div>
        
    </section>
    <!-- 장바구니 끝 -->

    <footer class="site-footer">
      <div class="footer-content">
        <p>© 2023. Flora & Dér All rights reserved.</p>
        <p>
          주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891
          [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길 48,
          성수낙낙 2층
        </p>
        <p>
          <a href="tel:+82-123-1234">02-123-1234</a> ㅣ contact@floraandder.krㅣ
          <a href="#">카카오톡 채널</a>ㅣ<a href="#">인스타그램</a> | MON-FRI
          10:00-17:00 | <a href="#">이용약관</a> ㅣ
          <a href="#">개인정보처리방침</a>
        </p>
      </div>
    </footer>
  </body>
  <script src="/public/js/common.js"></script>
  <script src="/public/js/cart.js"></script>  
</html>
