<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flora & Dér</title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <h1>
          <a href="/index.html">
            <img src="/public/img/logo.png" alt="로고" />
          </a>
        </h1>
        <div class="h-right">
          <a href="/member/login.html">LOGIN</a>
          <a href="/orders/orderlist.html">MY PAGE</a>
          <a href="/main/cart.html" class="nav-cart"
            >CART<span class="cart-num">1</span></a
          >
        </div>
      </div>
    </header>

    <nav class="nav">
      <div class="nav-wrap">
        <div class="nav-left">
          <!-- 상품을 선택하면 상세페이지에서
                    BUY > 그 페이지에서 선택한 카테고리이름이 뜹니다! -->
          <a href="#">BUY</a>
          <div class="right-arrow">></div>
        </div>
      </div>
    </nav>

    <!-- 상품 상세페이지 시작 -->
    <section class="detail">
      <div class="detail-content">
        <!-- 상품 이미지 & 상품설명 + 상품선택이 있습니다! -->
        <!-- <div class="dc-top"> -->

          <!-- 고정된 텍스트들 개발필요 x -->
          <!-- <div class="detail-flex df-two">
            <p class="dft-title">상세 내용</p>
            <span class="dft-text"
              >꽃, 이렇게 배송 돼요. Flora & Dér 꽃시장은 국내 농장의
              신선한 꽃을 최소한의 컨디셔닝만 거쳐 보내드립니다. 배송
              중에도 꽃에 물을 공급하기 위해 플로럴 폼(오아시스)을
              사용합니다. 꽃을 보호하기 위해 포장지로 감싸고 Flora & Dér
              시그니처 로고가 적용된 패키지에 담아 배송됩니다.
            </span>
          </div>
          <div class="detail-flex df-two">
            <p class="dft-title">컨디셔닝</p>
            <span class="dft-text"
              >잎은 꽃받침 아래 2~3개를 제외하고 전부 제거하여 물에 잠기는
              부분에 잎이 없도록 합니다. 잎 정리 후 줄기의 끝부분을 잘라
              물에 담가줍니다.
            </span>
          </div>
          <div class="detail-flex df-two">
            <p class="dft-title">관리 방법</p>
            <span class="dft-text"
              >신선한 물로 화병을 자주 갈아 주며, 줄기 끝을 다시 잘라
              수화작용을 원활하게 해주세요.
            </span>
          </div> -->


    <!-- 주문안내와 배송안내 text들이 있는곳입니다.
            고정된 값이여서 추가개발 필요 X -->
    <div class="detail-b-text">
      <h4>주문안내</h4>
      <ul class="buy-info">
        <li>
          꽃은 살아있는 생물이므로 꽃 송이마다 화형, 색상 등이 다릅니다.
          따라서 배송 되는 상품은 이미지와 조금 차이가 날 수 있다는 점 양해
          부탁드립니다.
        </li>
        <li>
          꽃을 직접 가꾸는 즐거움을 느낄 수 있도록 가장 최소한의
          컨디셔닝으로만 작업 후 보내드립니다.
        </li>
        <li>
          꽃은 물에 꽂힌 상태로 수급&보관되고 있기에 줄기 하단의 이파리에
          상처가 생길 수 있습니다. 줄기 하단의 상처 있는 이파리는 제거하여
          보시길 추천드립니다.
        </li>
        <li>
          배송 과정에서 꽃이 지쳐 물 내림 현상이 발생할 수 있습니다. 꽃을
          받은 즉시 남아있는 이파리들을 제거해 주고 하루 정도 시원한 물을
          올려주면 꽃이 싱싱하게 살아날 수 있습니다.
        </li>
        <li>
          매일 오전 꽃 입고 및 검수 후, 꽃의 상태가 좋지 못하다면
          플로리스트의 판단하에 새로 수급되는 꽃으로 배송을 도와드립니다.
          따라서 선택하신 배송일보다 1~3일 정도 지연이 될 수 있다는 점 양해
          부탁드립니다.
        </li>
      </ul>
      <h4>배송안내</h4>
      <ul class="delivery-info">
        <li>
          택배 배송 특성상 정확한 배송 시간 안내와 배송 시간 조정이
          어렵습니다.
        </li>
        <li>
          제주도 및 일부 도서산간 지역은 지정하신 수령일 보다 1~2일 더
          소요될 수 있습니다
        </li>
        <li>
          CJ 대한통운을 통해 전국 배송이 가능합니다. (제주/도서산간 포함)
        </li>
        <li>
          배송 정보(실시간 배송 현황, 배송 완료 사진, 고객센터 전화번호
          등)는 카카오톡 알림 서비스를 통해 확인하실 수 있습니다
        </li>
      </ul>
    </div>
        </div>
    </div>
    <!-- 상품 상세페이지 끝 -->

    <footer class="site-footer">
      <div class="footer-content">
        <p>© 2023. Flora & Dér All rights reserved.</p>
        <p>
          주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891
          [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길 48,
          성수낙낙 2층
        </p>
        <p>
          <a href="tel:+82-123-1234">02-123-1234</a> ㅣ contact@floraandder.krㅣ
          <a href="#">카카오톡 채널</a>ㅣ<a href="#">인스타그램</a> | MON-FRI
          10:00-17:00 | <a href="#">이용약관</a> ㅣ
          <a href="#">개인정보처리방침</a>
        </p>
      </div>
    </footer>
  </body>
  <script src="/public/js/cart.js"></script>
  <script src="/public/js/detail.js"></script>
  <!-- <script type="module" src="/public/js/detail.js"></script> -->
</html>
