<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flora & Dér</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="container">
        <!-- 공통 header + nav 부분입니다 -->
        <header class="header">
            <div class="header-wrap">
                <h1>
                    <a href="/index.html">
                        <img src="/public/img/logo.png" alt="로고">
                    </a>
                </h1>
                <div class="h-right">
                    <a href="/member/login.html">LOGIN</a>
                    <a href="/orders/orderlist.html">MY PAGE</a>
                    <a href="/main/cart.html" class="nav-cart">CART<span class="cart-num">1</span></a>
                </div>
            </div>
        </header>
        <nav class="nav">
            <div class="nav-wrap">
                <div class="nav-left">
                    <!-- <a href="/index.html">ALL</a>
                    <a href="/main/custom.html">CUSTOM</a>
                    <a href="/main/modern.html" class="nav-bold">MODERN</a>
                    <a href="/main/lovely.html">LOVELY</a>
                    <a href="/main/deskterior.html">DESKTERIOR</a>
                    <a href="/main/clasic.html">CLASIC</a>
                    <a href="/main/acc.html">ACC</a> -->
                </div>
                <div class="nav-right">
                    <a href="/member/info.html">
                        <img src="/public/img/go.png" alt="회사소개 바로가기 버튼">
                        INFO
                    </a>
                </div>
            </div>
        </nav>

        <!-- 상품리스트 시작 -->
        <section class="product">

            <ul id="product-list">
            </ul>

            <!-- 제품이 12개까지 보이고 more 버튼을 눌렀을때 12개가 더 나오도록 일단 대충 짜놓음 -->
            <div class="product-more">
                <button type="button" id="more-btn">MORE</button>
            </div>
        </section>
        <!-- 상품리스트 끝 -->

        <!-- 공통 footer 부분 -->
        <footer class="site-footer">
            <div class="footer-content">
                <p>© 2023. Flora & Dér All rights reserved.</p>
                <p>주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891  [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길 48, 성수낙낙 2층</p>
                <p><a href="tel:+82-123-1234">02-123-1234</a> ㅣ contact@floraandder.krㅣ <a href="#">카카오톡 채널</a>ㅣ<a href="#">인스타그램</a>  |  MON-FRI 10:00-17:00 | <a href="#">이용약관</a> ㅣ <a href="#">개인정보처리방침</a></p>
            </div>
            <div class="footer-right">
                
            </div>
        </footer>
    </div>
</body>
<script src="/public/js/product_list.js"></script>
</html>