<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INFO</title>
    <!--    <link rel="stylesheet" href="./css/reset.css">-->
    <!--    <link rel="stylesheet" href="./css/common.css">-->
    <!--    <link rel="stylesheet" href="./css/info.css">-->
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/info.css" />
    <link
      rel="icon"
      href="/public/img/favi_florander.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="container">
      <!-- header -->
      <header class="header">
        <div class="header-wrap">
          <h1>
            <a href="/index.html">
              <img src="/public/img/logo.png" alt="로고" />
            </a>
          </h1>
          <div class="h-right">
            <a href="/user/login.html">LOGIN</a>
            <a href="/orders/orderlist.html">MY PAGE</a>
            <a href="/main/cart.html" class="nav-cart"
              >CART<span class="cart-num">1</span></a
            >
          </div>
        </div>
      </header>

      <section class="info">
        <div class="info-wrap">
          <!-- SERVICE -->
          <div class="info-box">
            <div class="info-header">
              <p>SERVICE</p>
            </div>
            <div class="info-content">
              <p>
                플로라앤더는 '꽃과 더'라는 의미로, 꽃을 중심으로 다양한 아이템과
                서비스를 제공하는 쇼핑몰입니다. 플로라앤더(Flora&Der)는 2024년
                3월 런칭한 브랜드로, 꽃이 필요한 순간을 언제나 함께합니다.
              </p>
            </div>
            <div class="button">
              <button type="button" class="instagram-button">INSTAGRAM</button>
            </div>
          </div>

          <!-- COMTACT -->
          <div class="info-box">
            <div class="info-header">
              <p>CONTACT</p>
            </div>
            <div class="info-content">
              <div class="content-left">
                <ul>
                  <li>BUSINESS HOUR</li>
                  <li>PHONE</li>
                  <li>E.MAIL</li>
                  <li>INQUIRY</li>
                </ul>
              </div>
              <div class="content-right">
                <ul>
                  <li>MON-FRI 10:00-17:00</li>
                  <li>02-123-1234</li>
                  <li>contact@floraandder.kr</li>
                  <li>
                    카카오톡 채널 플로라앤더&nbsp;&nbsp;|&nbsp;&nbsp;우측 하단
                    채널톡
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- OFFLINE STORE -->
          <div class="info-box">
            <div class="info-header">
              <p>OFFLINE STORE</p>
            </div>
            <div class="info-content">
              <div class="content-left">
                <ul>
                  <li>ADDRESS</li>
                  <li>STORE HOURS</li>
                </ul>
              </div>
              <div class="content-right">
                <ul>
                  <li>서울특별시 성동구 아차산로17길 48, 성수낙낙 2층</li>
                  <li>
                    MON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLOSED
                  </li>
                  <li>TUE-FRI&nbsp;&nbsp;&nbsp;11:00-19:00</li>
                  <li>SAT-SUN&nbsp;&nbsp;10:00-17:30</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- FAQ -->
          <div class="info-box">
            <!-- FAQ header -->
            <div class="info-header">
              <p>FAQ</p>
            </div>
            <!-- FAQ content -->
            <div>
              <!-- FAQ #1 -->
              <ul>
                <li class="faq-list">
                  <div class="list-top first">
                    <div class="top-category">
                      <p>상품 관련</p>
                    </div>
                    <div class="question">
                      <p>Q. 꽃 상태가 좋지 않아요</p>
                    </div>
                    <div class="top-icon">
                      <img
                        src="/public/img/upButton.png"
                        alt="icon-up"
                        class="icon icon-up off"
                      />
                      <img
                        src="/public/img/downButton.png"
                        alt="icon-down"
                        class="icon icon-down"
                      />
                    </div>
                  </div>

                  <div class="list-bottom">
                    <div class="answer off">
                      <p>
                        A.<br />플로라앤더는 항상 싱싱하고 예쁜 꽃을 보내드리기
                        위해 모든 과정에서 노력하고 있지만, 부득이하게 배송
                        과정에서 꽃이 상처 나거나 시들 수 있어요. 꽃의 상태를
                        사진으로 찍어서 카카오톡 채널로 문의해주시면 더 신속하게
                        친절히 상담해 드릴게요.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>

              <!-- FAQ #2 -->
              <ul>
                <li class="faq-list">
                  <div class="list-top">
                    <div class="top-category">
                      <p>배송 관련</p>
                    </div>
                    <div class="question">
                      <p>Q. 배송지 변경 방법이 궁금해요</p>
                    </div>
                    <div class="top-icon">
                      <img
                        src="/public/img/upButton.png"
                        alt="icon-up"
                        class="icon icon-up off"
                      />
                      <img
                        src="/public/img/downButton.png"
                        alt="icon-down"
                        class="icon icon-down"
                      />
                    </div>
                  </div>

                  <div class="list-bottom">
                    <div class="answer off">
                      <p>
                        A.<br />[MY PAGE] - [주문 조회] - [배송지 변경]에서
                        배송지를 변경할 수 있어요! 다만, 생화 특성 상 [입금
                        확인중] 단계에서만 주문 변경 및 취소가 가능합니다.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>

              <!-- FAQ #3 -->
              <ul>
                <li class="faq-list">
                  <div class="list-top">
                    <div class="top-category">
                      <p>기타</p>
                    </div>
                    <div class="question">
                      <p>Q. 회원 탈퇴는 어떻게 하나요?</p>
                    </div>
                    <div class="top-icon">
                      <img
                        src="/public/img/upButton.png"
                        alt="icon-up"
                        class="icon icon-up off"
                      />
                      <img
                        src="/public/img/downButton.png"
                        alt="icon-down"
                        class="icon icon-down"
                      />
                    </div>
                  </div>

                  <div class="list-bottom last">
                    <div class="answer off">
                      <p>A.<br />[MY PAGE] > [회원 탈퇴]에서 하실 수 있어요.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- footer -->
      <footer class="site-footer">
        <div class="footer-content">
          <p>© 2023. Flora & Dér All rights reserved.</p>
          <p>
            주식회사 엘리스트랙ㅣ대표자 엘리스ㅣ123-45-67891
            [사업자정보확인]ㅣ2024-서울-00123ㅣ서울특별시 성동구 아차산로17길
            48, 성수낙낙 2층
          </p>
          <p>
            <a href="tel:+82-123-1234">02-123-1234</a> ㅣ
            contact@floraandder.krㅣ <a href="#">카카오톡 채널</a>ㅣ<a href="#"
              >인스타그램</a
            >
            | MON-FRI 10:00-17:00 | <a href="#">이용약관</a> ㅣ
            <a href="#">개인정보처리방침</a>
          </p>
        </div>
        <div class="footer-right"></div>
      </footer>
    </div>
  </body>
  <script type="module" src="/public/js/common.js"></script>
  <script src="/public/js/info.js"></script>
</html>
